{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}COVID-19 TRACKER{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'base.css' %}">
  {% block stylesheets %}{% endblock %}
</head>

<body>
  <div class="mainbar">
    <div class="mainbar_buttons">
      <a href="/" class='main_bar_title' class='main_bar_button'>COVID-19 TRACKER</h1>
      <a href="/" class='main_bar_button'>Plot</a>
      <a href="/" class='main_bar_button'>News</a>
    </div>
  </div>
  {% block content %}
  {% endblock %}
</body>

</html>