{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
  <link rel="stylesheet" href="{% static 'style/style.css' %}" />
  <link rel="stylesheet" href="{% static 'style/select_box.css' %}" />

    <form class="box">
      <select name="drop1">
        <option disable="true" , selected>---select a country---</option>
        <option>Canada</option>
        <option>China</option>
        <option>USA</option>
        <option>India</option>
        <option>France</option>
      </select>
      <input type="submit" value="click" />
    </form>

    <div class="container">
      <a
        class="card1"
        href="https://www.cdc.gov/coronavirus/2019-nCoV/index.html"
      >
        <h3>All cases</h3>
        <p class="small">{{total}}</p>
        <div class="go-corner" href="#">
          <div class="go-arrow">→</div>
        </div>
      </a>

      <a class="card2" href="#">
        <h3>New cases</h3>
        <p class="small">{{new}}</p>



  <div class="title">
    <h1>COVID-19 LIVE NUMBER FOR {{country}}</h1>
  </div>

      <a class="card3" href="#">
        <h3>Critical condition</h3>
        <p class="small">{{critical}}</p>
        <div class="dimmer"></div>
        <div class="go-corner" href="#">
          <div class="go-arrow">→</div>
        </div>
      </a>

      <a class="card4" href="#">
        <h3>Active cases</h3>
        <p class="small">{{active}}</p>
        <div class="dimmer"></div>
        <div class="go-corner" href="#">
          <div class="go-arrow">→</div>
        </div>
      </a>
      <a class="card5" href="#">
        <h3>Recovered</h3>
        <p class="small">{{recovered}}</p>
        <div class="dimmer"></div>
        <div class="go-corner" href="#">
          <div class="go-arrow">→</div>
        </div>
      </a>
    </div>
  </body>
</html>

