{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
  <link rel="stylesheet" href="{% static 'style/style.css' %}" />
  <link rel="stylesheet" href="{% static 'style/select_box.css' %}" />


  <title>COVID-19 TRACKER</title>
</head>

<body>
  <script>
    function drop_down_onchange() {
      let country = document.getElementById('country_selection').value
      console.log(country)
      document.getElementById('title_content').innerText = "COVID-19 LIVE NUMBER FOR " + country
      
      country = country.replaceAll('-','%20')
      let cards = document.getElementsByClassName('small')
      cards[0].innerText = 'Loading...'
      cards[1].innerText = 'Loading...'
      cards[2].innerText = 'Loading...'
      cards[3].innerText = 'Loading...'

      country = (country === null
        || country == '>---select a country---')
        ? fetch_data_by_country('canada')
        : fetch_data_by_country(country)
    }

    function fetch_data_by_country(country) {
      fetch("https://covid19-api.com/country?name=" + country + "&format=json", {
        "method": "GET",
        "headers": {
        }
      })
        .then(response => {
          response.json().then(data => {
            console.log(data)
            let cards = document.getElementsByClassName('small')
            cards[0].innerText = data[0].confirmed
            cards[1].innerText = data[0].critical
            cards[2].innerText = data[0].deaths
            cards[3].innerText = data[0].recovered
          })
        })
        .catch(err => {
          console.error(err);
        });
    }

    // fetch("https://covid19-api.com/country/all?format=json", {
    //   "method": "GET",
    //   "headers": {
    //   }
    // })
    //   .then(response => {
    //     response.json().then(data => {
    //       console.log(data)
    //     })
    //   })
    //   .catch(err => {
    //     console.error(err);
    //   });

  </script>

  <div class="title">
    <h1 id = 'title_content'>COVID-19 LIVE NUMBER FOR Canada</h1>
  </div>

  <form class="box">
    <select name="drop1" , onchange=drop_down_onchange() id="country_selection">
      {% for c in country_list %}
      <option>{{ c|slice:"1:-1" }}</option>
      {% endfor %}
    </select>
  </form>

  <div class="container">
    <a class="card1" href="https://www.cdc.gov/coronavirus/2019-nCoV/index.html">
      <h3>Total Confirmed</h3>
      <p class="small">Loading...</p>
      <div class="go-corner" href="#">
        <div class="go-arrow">→</div>
      </div>
    </a>

    <a class="card2" href="#">
      <h3>Critical</h3>
      <p class="small">Loading...</p>
      <div class="go-corner" href="#">
        <div class="go-arrow">→</div>
      </div>
    </a>

    <a class="card3" href="#">
      <h3>Death</h3>
      <p class="small">Loading...</p>
      <div class="dimmer"></div>
      <div class="go-corner" href="#">
        <div class="go-arrow">→</div>
      </div>
    </a>

    <a class="card4" href="#">
      <h3>Total Recovered</h3>
      <p class="small">Loading...</p>
      <div class="dimmer"></div>
      <div class="go-corner" href="#">
        <div class="go-arrow">→</div>
      </div>
    </a>

    <!-- <a class="card5" href="#">
      <h3>Recovered</h3>
      <p class="small">+100</p>
      <div class="dimmer"></div>
      <div class="go-corner" href="#">
        <div class="go-arrow">→</div>
      </div>
    </a> -->
  </div>
  <script>
    document.getElementById('country_selection').value = 'Canada'
    drop_down_onchange()
  </script>
</body>

</html>